<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.essim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 可选权限< -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".activities_re.PixivApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities_re.FreeActivity" />
        <activity
            android:name=".activities_re.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities_re.ImageDetailActivity" />
        <activity android:name=".activities_re.NewUserActivity" />
        <activity android:name=".activities.SearchResultActivity" />
        <activity android:name=".activities.ViewPagerActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.CommentActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.RelatedActivity" />
        <activity android:name=".activities.BatchDownloadActivity" />

        <service android:name=".activities.BatchDownloadService" />

        <activity android:name=".activities.RecyclerViewActivity" />
        <activity android:name=".activities.ThanksActivity" />
        <activity android:name=".activities.SignEmailActivity" />
        <activity android:name=".activities_re.AboutAppActivity" />
        <activity android:name=".activities_re.WebViewActivity" />
        <activity android:name=".activities_re.FollowActivity" />
        <activity android:name=".activities_re.LoginActivity" />
        <activity android:name=".activities_re.RankActivity" />
        <activity android:name=".activities_re.UserDetailActivity" />
        <activity android:name=".activities_re.IllustListActivity" />
        <activity android:name=".activities_re.ArticleActivity" />


    </application>




</manifest>